@font-face {
    font-family: 'tahoma';
    src: url(../fonts/Tahoma\ Regular\ font.ttf);
    src: url(../fonts/TAHOMA_0.TTF);
    src: url(../fonts/TAHOMAB0.TTF);
    src: url(../fonts/TAHOMABD.TTF);
}