*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
/* header logo */
#header{
     transition: all 0.5s;
     background: rgba(40, 58, 90, 0.9);
}
#header .logo{
     font-size: 30px;
     line-height: 1;
     font-weight: 500;
     letter-spacing: 2px;
     text-transform: uppercase;
}
#header .logo a{
     color: #fff;
}
/* logo section  */
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a{
     color: #47b2e4;
}