*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.greadeint{
    background: rgb(0,255,196);
    background: linear-gradient(90deg, rgba(0,255,196,1) 0%, rgba(24,92,173,1) 50%, rgba(2,0,36,1) 100%);
}
header h2{
    font-family: 'Montserrat', sans-serif;
}
.feature ul{
    padding-left: 2rem;
}
.feature ul li{
    padding-left: 2rem;
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}
.icon{
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.gallery{
    background-color: whitesmoke;
}
.gallery img{
    border-radius: 5%;
}
